.container {
  background-color: #2c698d;
  border-radius: 20px;
  border: 1px solid #272643;
  color: #EDEDE9;
  width: fit-content;
  max-width: 800px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

.container h2 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container img {
  border: 1px solid #272643;
  border-radius: 5px;
}

.activityContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
}

.activityCard {
  color: #2c698d;
  background-color: #e3f6f5;
  border-radius: 10px;
  border: 1px solid #272643;
  width: fit-content;
  padding: 5px;
  margin: 5px
}

.activityTitle {
  font-size: 1.5rem;
  margin-top: 5px;
}