.container {
  margin: auto;
  margin-top: 20vh;
}

.button {
  color: #272643;
  background-color: #e3f6f5;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  margin-left: 10px;
  font-size: 1.1rem;
}

.button:hover {
  color: #EDEDE9;
  background-color: #2c698d;
  border: 1px solid #272643;
}