.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: auto;
  margin: 20px;
  background-color: #E3D5CA;
  border-radius: 10px;
}

.card img {
  width: 100px;
  height: 70px;
}

.text {
  display: flex;
  flex-direction: column;
}