.container {
  margin: 20px;
}

.container h2 {
  font-size: 2.5rem;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 150px 30px 150px;
}

.utilsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 150px 30px 150px;
}

.selectors {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.pagButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagButtons button {
  background-color: #e3f6f5;
  border: 2px solid #272643;
  border-radius: 5px;
  margin: 0 10px 0 10px;
  padding: 15px;
  font-size: 0.9rem;
  cursor: pointer;
}

.pagButtons button:hover {
  color: #EDEDE9;
  background-color: #2c698d;
}

.search {
  background-color: #e3f6f5;
  border: 2px solid #272643;
  border-radius: 5px;
  margin: 0 10px 0 25px;
  padding: 15px;
  font-size: 0.9rem;
}

.select {
  background-color: #e3f6f5;
  border: 2px solid #272643;
  border-radius: 5px;
  margin: 0 25px 0 10px;
  padding: 15px;
  font-size: 0.9rem;
  cursor: pointer;
}