.navbar {
  background-color: #2c698d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #272643;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.title {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 5px;
}

.list {
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  height: 100%;
}

.listItem {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
}

.listItem a {
  color: #EDEDE9;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  height: 100%;
  padding: 16px 32px;
  border-bottom: 4px solid transparent;
  border-radius: 10px;
}

.listItem a:hover {
  color: #272643;
  background-color: #e3f6f5;
  border: 1px solid #272643;
}